---
type Props = {
	path: string;
};
const { path } = Astro.props;
---

<footer>
	<p class="text-white">Based on blog templete by Astro</p>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
